
html {
  background-color: grey;
}
body, .container-fluid {
background-color: grey;
}
.header {
  height: 200px;
  background-color: #00B3B4;
  color: white;
  text-align: center;
  border-bottom: 10px solid black;
}

h1, h2 {
  font-size: 20px;
  font-family: 'Baloo Tamma', cursive;
}
h4 {
  font-family: 'NTR', sans-serif;
  margin: 10px;
}
li {

  font-family: 'Flamenco', cursive;
}
.header h1 {
  margin-top: 50px;
  font-size: 120px;
}
form {
text-align: center;
color: white;
display: inline;
}

form h4 {
  border-top: 1px solid #E3E3E5;
  padding-bottom: 5px;
}
#headerTop {
  border-top: none;
}
button {
  color: red;
  margin: 25px;

}
.col-md-3 img {
  display: none;
  height: 300px;
  width: 300px;
  background-color: white;
  border: none;
  border-radius: 50px;
  margin-bottom: 50px;
  margin-left: 75px;
  box-shadow: 5px 5px rgb(54,54,54);

}
img:hover {

  box-shadow: none;
}

.centeredDiv {
  margin-top: 100px;
  border: none;
  border-radius: 15px;
  background-color: white;
  height: 500px;
  width: 500px;
  padding-right: 5px;
}
.centeredDiv h2 {
  text-align: center;
  padding-top: 20px;
}
.centeredDiv ul {
  float: left;
  font-size: 20px;
}
.centeredDiv ol {
  float: left;
  font-size: 20px;
}
